.App {
  text-align: center;
  background-image: url('https://www.pokellector.com/images/bg-2016.jpg');
  background-size: cover;
  margin:0;
  padding:0;
  display:block;
  position:absolute;

}

.welcome{
  font-size: 5em;
  font-weight: bold;
  color: red;
  text-shadow: 5px 5px 10px goldenrod;
}
.new-card{
  font-size: 4em;
  color: firebrick;
}

.plus-sign{
  font-size: 10em;
  margin: 0;
  color: navy;
}

.card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  
}
.cards {
  width: 22%;
  height: auto;
  padding: 0;
  border: 1px solid goldenrod;
  border-radius: 10px;
  margin: 20px;
  align-items: center;
  color: royalblue;
  font-weight: bold;
  background-color: seagreen;
}

.cards:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: tranform 0.5s;
  background: rgb(46, 2, 46);
  box-shadow: 8px 8px 5px goldenrod;
  color: rgba(255, 217, 0, 0.678);
}

.card-img{
  width: 80%;
}

.card-name {
  font-size: 1.5em;
}

.btn{
  margin-bottom: 4%;
  margin-right: 10%;
  margin-left: 10%;
}

.add-form-container {
  display: flex;
  justify-content: center;
}
